<div>
    <mat-card class="card" fxFlex="40" >
    
        <mat-card-title class="fundoo">
            <span class="f">F</span>
            <span class="u">u</span>
            <span class="n">n</span>
            <span class="d">d</span>
            <span class="o">o</span>
            <span class="oo">o</span>
            <span class="f">N</span>
            <span class="u">o</span>
            <span class="d">t</span>
            <span class="o">e</span>
            <span class="oo">s</span>
          </mat-card-title> 
          <!-- <mat-card-header> -->
            <div class="acc" fxLayout="column" fxLayoutAlign="space-between center" fxLayoutGap="-4%">
              <h2>Sign In</h2>
              <h3>with your fundoo Account</h3>
           </div>  
           <!-- </mat-card-header> -->
    
      <div  fxLayout="column" fxLayoutAlign="space-evenly center" class="common">
          <div >
        <mat-form-field fxFlex.xs="100" appearance="outline" class="email">
          <mat-label>Email</mat-label>
          <input matInput placeholder="enter first name">
          <mat-hint>Email is required</mat-hint>
        </mat-form-field>
      </div>
    
      <div>
        <mat-form-field  fxFlex.xs="100" appearance="outline" class="password">
          <mat-label>Password</mat-label>
          <input matInput placeholder="enter last name"> 
          <mat-hint>password is required</mat-hint>
        </mat-form-field>
      </div>
    </div>
    
     
      <div fxLayout="row">
          <div class="login">
            <mat-label><br>forgot password</mat-label>
          </div>
          <div class="button1">
            <button mat-button>Login</button>
          </div>
        </div>
        
    </mat-card>
    </div>