.card {
    margin-left: auto;
    margin-right: auto;
    margin-top: 4%;
    margin-bottom: 3%;
    width: 50%;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.459);
    border-radius: 2%;
    height: 100%;
    }

.fundoo{
    font-weight:bold;
    text-align: center;
    font-size: 37px;
    .f{
        color:rgb(0, 204, 255)    
    }
    .u{
        color: red    
    }  
    .n{
        color: yellow    
    } 
    .d{
        color:green
    } 
    .o{
        color: rgb(0, 204, 255)     
    } 
    .oo{
        color:red  
    } 
    
  
}
.acc{
    text-align: center;
}

.email{
    width: 97%;
 } 
 .password{
    width: 97%;
 }
.login{
    color: rgb(0, 102, 255);
}
.lable1{
    color: rgb(0, 102, 255);
    margin-left: 70px;
}

.lable{
    color: rgb(0, 102, 255);
    margin-right: 35px;
}
.button1{
    background-color: rgb(0, 102, 255);
    color: white;
    border-radius: 7%;
    margin-left: 66px;
}

/deep/.mat-form-field-appearance-outline .mat-form-field-infix {
    padding: 1em 0 1em 0;
    width: 325px;
}