<div fxFlex="10" fxLayout="row" fxFlex.xs="100" fxFlex.gt="400px" [style.fontSize.px]="1" fxLayoutGap="-7px">
    <button mat-icon-button>
        <mat-icon> add_alert</mat-icon>
    </button>
    <button mat-icon-button>
            <mat-icon> person_add</mat-icon>
    </button>
    <button mat-icon-button>
            <mat-icon> color_lens</mat-icon>
    </button>
    <button mat-icon-button>
            <mat-icon> insert_photo</mat-icon>
    </button>
    <button mat-icon-button>
            <mat-icon> archive</mat-icon>
    </button>
    <button mat-icon-button>
            <mat-icon> more_vert</mat-icon>
    </button>
  
</div>    