<div>
<mat-toolbar >
  <button mat-icon-button (click)="sidenav.toggle()">
    <mat-icon matTooltip="Main Menu">menu</mat-icon>
  </button>

  <div fxFlex="2">
    <div fxFlex="10" fxLayout="row" fxFlex.gt="500px" [style.fontSize.px]="1" matTooltip="Welcome to Fundoo Notes">
      <img id="google-keep-logo" src="../../../assets/img/keep.png" />

      <h3 class="example-app-name" fxLayoutAlign="center center">
        <mat-card-title class="fundoo" fxLayout="row" fxLayoutAlign="end center">
          <span>{{message}}</span>
        </mat-card-title>
      </h3>
    </div>
  </div>

  <!-- <div class="right">
      <form id="search">
         
        <input #search type="search" placeholder="Search" [ngClass]="{'filled':filled}" 
             (click)="filled=true" (blur)="filled=search.value?true:false"> 
      </form>
    </div> -->

  <!-- ***************************************************************************** -->  
  <div fxFlex="80" fxLayoutAlign="end start">
    <mat-form-field appearance="outline" fxHide.xs [style.fontSize.px]="2" class="search">
      <button mat-icon-button class="search-button">
        <mat-icon matTooltip="Search">search</mat-icon>
      </button>

      <input fxFlex="90" [(ngModel)]="search" (keyup)="lookup()" matInput placeholder="Search" [style.fontSize.px]="16"
        class="search-window" autocomplete="off" />
    </mat-form-field>
  </div>

  <div fxFlex="25">
    <button mat-icon-button color="basic" (click)="refresh()" id="refresh" matTooltip="Refresh">
      <mat-icon>refresh</mat-icon>
    </button>
  </div>
<!-- ***************************************************************************** -->

  <button mat-icon-button color="basic" id="grid" fxHide.xs>
    <mat-icon>
      <img *ngIf="gridView" (click)="changeView()" matTooltip="List view"
        src="../../../assets/img/outline-view_agenda-24px.svg" />
      <img isClicked *ngIf="!gridView" (click)="changeView()" matTooltip="Grid view"
        src="../../../assets/img/outline-border_all-24px.svg" /></mat-icon>
  </button>

  <button mat-icon-button [matMenuTriggerFor]="menu">
     <img  src="../../../assets/img/outline-settings-24px.svg" />
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>
     
        <span>Settings</span>
      </button>
      <button mat-menu-item >
        <span>Send Feedback</span>
      </button>
      <button mat-menu-item (click)="go2UrlHelp()">
        <span>Help</span>
      </button>
      <button mat-menu-item>
         <span>App Downloads</span>
      </button>
      <button mat-menu-item>
          <span>Keyboard Shorcuts</span>
      </button>
    </mat-menu>

</mat-toolbar>

<mat-sidenav-container class="container" style="height:100vh;">
    <mat-sidenav #sidenav mode="side" >
     

     
    <mat-nav-list >
      <button mat-button (click)="retriveAllNotes()" >
       <div fxLayout="row" fxLayoutGap="30px">
          <div fxFlex="10" fxLayout="row" fxFlex.gt="500px" [style.fontSize.px]="1" >
              <img  src="../../../assets/img/note.svg" /></div>
         <mat-list-item>Notes</mat-list-item>
      </div> 
    </button>
   </mat-nav-list>  
   <mat-nav-list >
    <button mat-button >
      <div fxLayout="row" fxLayoutGap="30px">
          <div fxFlex="10" fxLayout="row" fxFlex.gt="500px" [style.fontSize.px]="1">
              <img  src="../../../assets/img/remainder.svg" /></div>
          <mat-list-item>Reminders</mat-list-item>
      </div>
    </button>
  </mat-nav-list>  

  <mat-divider></mat-divider>
    
    <mat-nav-list>
       
      <div class= "lable">LABELS</div>
        <app-get-all-lable></app-get-all-lable>
    </mat-nav-list>
    <mat-nav-list>
        <button mat-button  >
        <div fxLayout="row" fxLayoutGap="30px">
            <div fxFlex="10" fxLayout="row" fxFlex.gt="500px" [style.fontSize.px]="1">
                <img  src="../../../assets/img/outline-create-24px.svg" /></div>
            <mat-list-item mat-raised-button (click) ="labelDialog()" >Edit lables</mat-list-item>
        </div>
        </button> 
    </mat-nav-list> 

    <mat-divider></mat-divider>
    <mat-nav-list >
        <button mat-button (click) ="archive()" >
        <div fxLayout="row" fxLayoutGap="30px">
            <div fxFlex="10" fxLayout="row" fxFlex.gt="500px" [style.fontSize.px]="1" >
                <img  src="../../../assets/img/archieve.svg" /></div>
           <mat-list-item mat-raised-button (click) ="archive()">Archive</mat-list-item>
          </div> 
          </button>
    </mat-nav-list>
    <mat-nav-list >
        <button mat-button  >
        <div fxLayout="row" fxLayoutGap="30%" >
          
            <div fxFlex="10" fxLayout="row" fxFlex.gt="500px" [style.fontSize.px]="1">
                <img  src="../../../assets/img/bin.svg" /></div>
           
                <mat-list-item>Trash</mat-list-item>
            </div>
            </button>
       </mat-nav-list>

    </mat-sidenav>
    <mat-sidenav-content fxFlexFill>
      <router-outlet></router-outlet>

    </mat-sidenav-content>
</mat-sidenav-container>
</div>


