.keep{
    width:50px;
    height:50px;
 }
 
  .search {
    border-radius: 6%;
    margin-left: - 50%;
    width: 70%;
    line-height: 2;
    background: rgba(0, 0, 0, 0.04);
    border: none;
    outline: none;
    }
  
  .example-events {
    width: 300px;
    height: 200px;
    overflow: auto;
    border: 1px solid #555;
  }

  /deep/.mat-drawer-inner-container {
    width: 220%;
   }
.lable{
  font-size: 11px;
  margin-left: 26px;
  margin-top: 18px;
  margin-bottom: 15px;
}

#grid{
  margin-left: -270px;
}


.mat-flat-button:hover {
  background-color: rgb(221, 218, 218);
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 30px;
  border-top-left-radius: 0px;
  border-top-right-radius: 30px;
  width: 100%;
  height: 50px;
 
  }
  .mat-flat-button:focus {
  background-color: rgba(241, 240, 176, 0.671);
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 30px;
  border-top-left-radius: 0px;
  border-top-right-radius: 30px;
  width: 100%;
  height: 54px;
  }
  .img1{
    background-color: grey
  }
  .img2{
    background-color: grey;
    border-radius: 50%
  }

  .mat-nav-list {
    width: 230px;
   
  }