<div>
  <mat-card class="card" fxFlex="40">

  <mat-card-title class="fundoo">
    <span class="f">F</span>
    <span class="u">u</span>
    <span class="n">n</span>
    <span class="d">d</span>
    <span class="o">o</span>
    <span class="oo">o</span>
  </mat-card-title>
  
  <mat-card-subtitle>
    <div class="acc" fxLayout="column" fxLayoutAlign="space-between center" fxLayoutGap="-2%">
      <h2>Forgot Password</h2>
      <h4>Enter your email address and we will send you a link to reset your password.</h4>
    </div>
  </mat-card-subtitle>

  <div fxLayout="column" fxLayoutAlign="space-evenly center">
    <mat-form-field fxFlex.xs="100"  appearance="outline" class="email">
      <mat-label>Email</mat-label>
      <input matInput placeholder="enter your email" [(formControl)]="email">
      <mat-hint>Email is required</mat-hint>
    </mat-form-field>
  </div>

  <div class="button1" fxLayout="row" fxLayoutAlign="space-evenly center" >
    <button mat-button (click)="next()">Send</button>
  </div>

  </mat-card>
</div>
