<div >
     <button mat-raised-button ></button>
     <div (click)="openDialog(item)">
      <div fxLayout="column" fxLayoutGap="5%">
      <div>
        <input matInput  placeholder="Title" [(formControl)]="title">
        <div fxFlex="10" fxLayout="row" fxFlex.gt="500px" [style.fontSize.px]="1" matTooltip="New list">
            <img src="../../../assets/img/unpinbar.svg" />
          </div>
      </div>    
      <div>
          <input matInput  placeholder="Take a note..." [(formControl)]="discription">
      </div>
    </div>
      <div fxLayout="row" fxLayoutGap="40" fxLayoutGap="12%">
      <app-icon></app-icon><div></div>
            <!-- <button mat-raised-button (click)="updateNote()"(click)="onNoClick()" matTooltip="close">Close</button> -->
            <button mat-button [mat-dialog-close] (click)="updateNote()"(click)="onNoClick()">Close</button>
         
      </div>
    </div>
  
</div>
<!-- 
  <div [ngStyle]="{'background-color':data.notedata.color}" style="border: 1px solid lightgrey;border-radius:10px;">
<button mat-raised-button (click)="openDialog(item)"></button>
<div>
<textarea [ngStyle]="{'background-color':data.notedata.color}" type="text" placeholder="Take a note..." [formControl]="title"></textarea>
</div>
<div>
<textarea [ngStyle]="{'background-color':data.notedata.color}" type="text" placeholder="Take a note..." [formControl]="description"></textarea>
</div>
<div > 
<app-icon-list (colorEvent)="updateColor($event,data.notedata._id)"></app-icon-list>
<button mat-button [mat-dialog-close] (click)="updatenote()">Close</button>
</div>
</div>
 -->