<div>
  <mat-card class="card" fxFlex="40">

    <mat-card-title class="fundoo">
      <span class="f">F</span>
      <span class="u">u</span>
      <span class="n">n</span>
      <span class="d">d</span>
      <span class="o">o</span>
      <span class="oo">o</span>
    </mat-card-title>

    <mat-card-subtitle>
      <div class="acc">
        <mat-card-title>Create Your Fundoo Account</mat-card-title>
      </div>
    </mat-card-subtitle>

    <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="4%">
      <div>
        <mat-form-field fxFlex.xs="100" appearance="outline" class="firstName">
          <mat-label>firstName</mat-label>
          <mat-error *ngIf='firstName.Invalid'>{{getNameError()}}</mat-error>
          <input matInput placeholder="enter first name" [(formControl)]="firstName">
          <mat-hint>first name is required</mat-hint>
        </mat-form-field>
      </div>


      <mat-form-field fxFlex.xs="100" appearance="outline" class="lastName">
        <mat-label>lastName</mat-label>
        <mat-error *ngIf='lastName.Invalid'>{{getLastNameError()}}</mat-error>
        <input matInput placeholder="enter last name" [(formControl)]="lastName">
        <mat-hint>last name is required</mat-hint>
      </mat-form-field>

    </div>
    <div>

      <mat-form-field fxFlex.xs="100" appearance="outline" class="email">
        <mat-label aria-autocomplete="off">Username/Email</mat-label>
        <mat-error *ngIf='email.Invalid'>{{getEmailError()}}</mat-error>
        <input matInput placeholder="enter your email address" [(formControl)]="email">
        <mat-hint>email is required</mat-hint>
      </mat-form-field>

    </div>

    <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="5%">
      <div>
        <mat-form-field fxFlex.xs="100" appearance="outline" style="width: 225px;">
          <mat-label>Password</mat-label>
          <mat-error *ngIf='password.Invalid'>{{getPassError()}}</mat-error>
          <input matInput placeholder="enter your password" [type]="!hide ? 'password' : 'text'"
            [(formControl)]="password">
          <!-- <mat-icon class="icon" matSuffix (click)="hide = !hide">{{!hide ? 'visibility_off' : 'visibility'}}>visibility_off </mat-icon> -->
          <mat-icon matSuffix (click)="hide = !hide">{{!hide ? 'visibility_off' : 'visibility'}}</mat-icon>

        </mat-form-field>
      </div>

      <div>
        <mat-form-field appearance="outline" style="width: 225px;">
          <mat-label>Confirm Password</mat-label>
          <input matInput placeholder="enter your password" [type]="!hide ? 'password' : 'text'"
            [(formControl)]="confirm_password">
          <mat-icon matSuffix (click)="hide = !hide">{{!hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </mat-form-field>
      </div>
      <!-- <i class="material-icons">visibility_off </i> -->
      <div>

      </div>
    </div>
    <div>
      <mat-hint>Use 8 or more characters with a mix<br> of letters, numbers & symbols </mat-hint>
    </div>
    <div fxLayout="row" fxLayoutAlign="space-evenly center">
      <div class="signIn" style="margin-right: 160px;">
        <mat-label routerLink="/login"><br>Sign in instead</mat-label>
      </div>
      <div class="button1">
        <button mat-button (click)="next()">Create</button>
      </div>
    </div>

  </mat-card>
</div>