@import"../../scss/color.scss";

.font{
    font-size: small;
    font-weight: bold;
}

.icon{
    margin: -4px;
}
.icon1{
    margin: -2px;
}

.color{
    color:$blue;
}

.date{
   margin-top: 9px;
}

.image1{
    width: 24px;
}

.image2{
    width: 24px;
}

.image3{
    width: 29px;
}
.image4{
    width: 27px;
}

.for{
    margin-top: 9px;
}

