@import"../../scss/color.scss";

.font{
    font-size: small;
    font-weight: bold;
}

.icon{
    margin: -4px;
}
.icon1{
    margin: -2px;
}

.color{
    color:$blue;
}

.date{
   margin-top: 9px;
}

.image1{
    width: 22px;
}

.image2{
    width: 22px;
}

.image3{
    width: 26px;
}
.image4{
    width: 23px;
}

.for{
    margin-top: 9px;
}

.more{
    margin-top: 8px;
}