<div class="whole" fxLayout="column " fxFlex="100%">
  <div fxLayout="row " fxFlex="60" class=" firstdiv" fxLayoutGap="30" fxLayoutAlign="center center">

    <div fxFlex="15" fxFlexOffset="5" fxLayoutAlign="start center" fxLayoutGap="2%">
      <div>
        <!-- <div fxFlex="20"><label>Coding Cafe</label></div> -->
        <body>Coding Cafe</body>
      </div>
      <div class="round">25</div>
    </div>
    <div fxFlex="50" fxLayoutAlign="end center" fxLayoutGap='2%'>
      <div>
        <button mat-stroked-button class="Vm" routerLink="/dashboard">End VM</button>
      </div>
      <div>

        <button mat-button class="buttons" (click)="addVmDialog()">

          <!-- <img  style="color:white" src="../../../assets/img/round-add-24px.svg" />Add VM</button> -->
          <mat-icon>add</mat-icon>Add VM
        </button>
      </div>
    </div>
    <mat-divider></mat-divider>

  </div>

  <div fxFlex="60" fxLayoutAlign="center center" >
      <mat-form-field appearance="outline" fxHide.xs [style.fontSize.px]="1" class="search">
        <button mat-icon-button class="search-button">
          <mat-icon matTooltip="Search" style="margin-bottom: 8px;">search</mat-icon>
        </button>
        <input fxFlex="90" [(ngModel)]="search" #box (keyup.enter)="onEnter(box.value)" matInput placeholder="Search"
          [style.fontSize.px]="16" class="search-window" autocomplete="off" />
        <p>{{value}}</p>
      </mat-form-field>
    </div>
  
  <div>
    <app-get-all-vmuser></app-get-all-vmuser>
  </div>
</div>   