@import '../../scss/color.scss';


.firstdiv{
    height: 50px;
  
}
.button{
    border: 5px;
    border-color: blue;
}

.abc{
    margin-top: 21px;
}

.whole{
    background-color: rgb(237, 246, 246);
}

.round {
    // width: 22px;
    height: 18px;
    border-radius: 10px;
    width:30px;
    background-color:$blue;
    color: #FFFFFF;
    // border: 2px solid #EF3371;
    font-size: 12px;
   
    text-align: center;

   
    }
    
    .search {
        border-radius: 10%;
        margin-left: - 28%;
        width: 70%;
        line-height: 2;
        background: rgba(0, 0, 0, 0.04);
        border: none;
        outline: none;
        }

    .buttons{
        background-color: $blue;
        color:white
    }    

    .Vm{
        color:$blue;
    }