.firstdiv{
    height: 50px;
  
}
.button{
    border: 5px;
    border-color: blue;
}

.abc{
    margin-top: 21px;
}

.whole{
    background-color: rgb(237, 246, 246);
}

.round {
    // width: 22px;
    height: 18px;
    border-radius: 10px;
    width:30px;
    background-color:  rgb(28, 219, 253);
    color: #FFFFFF;
    // border: 2px solid #EF3371;
    font-size: 12px;
   
    text-align: center;

   
    }
    