<!-- <image-cropper [imageChangedEvent]="data" [maintainAspectRatio]="true" [aspectRatio]="1 / 1" [resizeToWidth]="128"
  format="png/svg/jpg" (imageCropped)="imageCropped($event)">
</image-cropper>
<button mat-button mat-flat-button color="warn" (click)="uploadpic()">Upload</button>
<div fxFlex="10">
  <button style="outline: none;" mat-icon-button [matMenuTriggerFor]="menu">
    <div mat-card-avatar
      [ngStyle]="{'background-image': 'url('+img+')','background-size':'cover', 'height':'60px','width':'60px'}"
      class="img1"></div>
  </button>
</div> -->
<image-cropper
[imageChangedEvent]="data"
[maintainAspectRatio]="true"
[aspectRatio]="1 / 1"
[resizeToWidth]="128"
format="png/svg/jpg"
(imageCropped)="imageCropped($event)">
</image-cropper>
<button mat-button mat-flat-button color="warn" (click)="uploadpic()">Upload</button>