
<div *ngFor='let item of notes' fxLayoutAlign="center " fxLayout.xs="row" fxFlex="30"fxLayoutGap="10%"> 



  <mat-card [style.backgroundColor]='item.color' style="border: 1px solid lightgrey;border-radius:10px;"
  fxFlex.xs="100" fxLayout="column" class="matcard" fxFlex="65" fxFlexOffset.xl="10" 
   mat-raised-button (click) ="openDialogbox(item)"   >
  
  
  <div fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="10%">
  <div class="title" >
  {{item.title}}
  </div>
  
  <div class="discp">
  {{item.discription}}
  </div>
  </div>
  
  <div>
      <div fxFlex="100">
          <app-icon  [noteData]="item" ></app-icon>
          </div>

  </div>
  
  
  
  
  </mat-card>
  </div>
